body {
    font-size: 16px;
    margin: 0;
    background: white;
    animation: opening 1s ease-in forwards;
}

@keyframes opening {
    to {
        background: #443377;
    }
}

#intro {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#intro svg {
    max-height: 50vh;
}

#intro svg line,
#intro svg circle,
#intro svg polygon {
    stroke: #DD77FF;
    fill: none;
}

#intro svg #symbols-bg-mask circle {
    stroke-width: 0;
    fill: black;
}
